<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonus Level</title>
    <link rel="stylesheet" href="/css/BonusLevel.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>
    
    <div class="container">
        <i class='bx bxs-star'></i>
        <h2>Pour chaque niveau d'apprentissage vous recevrez un package <span>BONUS GRATUIT</span>.</h2>
    </div>

    <a href="/"><i class='bx bxs-x-square'></i></a>

</body>
</html>