<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Error</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/ConnexionError.css">
    <link rel="stylesheet" href="/img/logo-top/fav.png">
</head>
<body>
    
    <i class='bx bx-world'></i>

    <h2>Erreur lors de la connexion</h2>

    <h3>Le programme ne vous reconnaît pas - <a href="/">Cliquez ici pour obtenir l'Authorisation</a> </h3>

</body>
</html>