<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome English fans</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>
    <!-- Mise en forme du logo -->

    <header>
        <img src="/img/logo-img/logo.png" alt="Logo English-fans">
    </header>
    
    
    <!-- Le monde qui tourne -->

    <div class="d1">
        <div class="world">
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <span style="--i:4;"></span>
            <span style="--i:5;"></span>
            <span style="--i:6;"></span>
        </div>
    </div>

    <!-- Phrase d'Accroche -->

    <div class="d2">
        <h2>Deviens...</h2>
        <h1>Bilingue en <span class="sp1">90 jours</span></h1>
        <p>
            Il n'est jamais trop tarp pour apprendre l'Anglais
        </p>
    </div>


    <!-- Création du button Commencez -->

    <div class="d3">
        <a href="/pay-payBases" class="wave">Get Started</a>
    </div>


    <!-- Partie 2 -->


    <!-- En savoir plus -->


    <div class="about">

        <h2>Our strategy to get you speaking English</h2>

        <div class="tout">
            <a href="">See More</a>
        </div>

    </div>


    <!-- Section soit s1 -->


    <section class="s1">
        

        <!-- Niveau d'apprentissage -->


        <div class="choose">

            <div class="box choose1">

                <a href="/R3uLtt10n_5tr1ng12345" class="box-icon">
                    <i class='bx bxs-cog'></i>
                </a>

                <h2>Bases</h2>

            </div>


            <div class="box choose2">

                <a href="/qfL93qn4zjP7LtufCedG4yJBDv2aF4W0fD" class="box-icon">
                    <i class='bx bxs-bulb'></i>
                </a>

                <h2>Eveil</h2>

            </div>


            <div class="box choose3">

                <a href="/EgZjaHJvbWUyBggAEEUYOTIJCAEQABgKGIAEMggIA" class="box-icon">
                    <i class='bx bx-sort-z-a'></i>
                </a>

                <h2>Maîtrise</h2>

            </div>


            <div class="box choose4">

                <a href="/BonusLevel" class="box-icon">
                    <i class='bx bxs-star'></i>
                </a>

                <h2>Bonus</h2>

            </div>

        </div>

    </section>


    <footer>
        <p>&copy; Global Cooperation</p>
    </footer>


    <script src="/JS/index.js"></script>

</body>
</html>