<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Bases</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/loginBases.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>

<body>


    <!-- icon Back -->


    <a href="/"><i class='bx bx-arrow-back'></i></a>


    <!-- Formulaire Bases  -->


    <form action="/h3qh1fl8Uqklr8mjmPjPnhLCSL1epbt7wst4ZdJ" method="post">

        <span>Connexion Bases</span>

        <div class="d1">

            <input type="email" name="email" placeholder="Enter your email" required>

        </div>

        <div class="d2">

            <input type="password" name="password" placeholder="Enter your password" required>

        </div>

        <button type="submit">to connect</button>

    </form>


    <script src="/JS/loginBaes.js"></script>
</body>

</html>