<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./css/signup.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>

    <a href="/" class="back"><i class='bx bxs-left-arrow-alt'></i></a>

    <h2>Create an account</h2>

    <i class='bx bxs-user-circle'></i>

    
    





















    <!-- Formulaire -->


    <div class="form-container">

        <form action="/signup" method="post">

            <input type="text" name="username" placeholder="Enter your name" required>
    
            <div class="d1">
                <input type="email" name="email" placeholder="Enter your email" required>
    
                    <i class='bx bx-envelope'></i>
                    <i class='bx bxs-check-circle'></i>
    
            </div>
    
            <div class="d2">
                <input type="password" name="password" placeholder="Enter your password" required>
    
                <div class="main">
                    <div class="info-password">
                        <i class='bx bxs-info-circle'></i>
                        <p class="sms">message message</p>
                    </div>
                </div>
                
    
                <div class="view-noview">
                    <i class='bx bxs-hide'></i>
                    <i class='bx bx-show'></i>
                </div>
            </div>
    
            <button type="submit">Register</button>
    
        </form>
        
    </div>


    <script src="/JS/signup.js"></script>
</body>
</html>