<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English fans | Bases</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/Bases.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>

    <!-- Instauration du header -->

    <header>

        <div class="d1">
            <h1>Bases</h1>
        </div>

        <div class="d2">
            <a href="/"><i class='bx bxs-home'></i></a>
        </div>

    </header>


    <!-- Gestion des jours --Bases-- -->


    <div class="Bases-days">

        <a href="/Za8GDr2gxod1a1PxrCWAx0EtMv1v16a11a1P1" class="days dy1">
            <h3>1</h3>
            <p>day</p>
        </a>


        <a href="/Za8GDr2gxod1a2PxrCWAx0EtMv1v16a11a1P1" class="days dy2">
            <h3>2</h3>
            <p>day</p>
        </a>


        <a href="/Za8GDr2gxod1a3PxrCWAx0EtMv1v16a11a1P1" class="days dy3">
            <h3>3</h3>
            <p>day</p>
        </a>


        <a href="/Za8GDr2gxod1a4PxrCWAx0EtMv1v16a11a1P1" class="days dy4">
            <h3>4</h3>
            <p>day</p>
        </a>


        <a href="/Za8GDr2gxod1a5PxrCWAx0EtMv1v16a11a1P1" class="days dy5">
            <h3>5</h3>
            <p>day</p>
        </a>


        <a href="/Za8GDr2gxod1a6PxrCWAx0EtMv1v16a11a1P1" class="days dy6">
            <h3>6</h3>
            <p>day</p>
        </a>

        <a href="/Za8GDr2gxod1a7PxrCWAx0EtMv1v16a11a1P1" class="days dy7">
            <h3>7</h3>
            <p>day</p>
        </a>

        <a href="/Za8GDr2gxod1a8PxrCWAx0EtMv1v16a11a1P1" class="days dy8">
            <h3>8</h3>
            <p>day</p>
        </a>

        <a href="/Za8GDr2gxod1a9PxrCWAx0EtMv1v16a11a1P1" class="days dy9">
            <h3>9</h3>
            <p>day</p>
        </a>

        <a href="/Za8GDr2gxod1a10PxrCWAx0EtMv1v16a11a1P1" class="days dy10">
            <h3>10</h3>
            <p>day</p>
        </a>

        <a href="/bonus1" class="Bonus Bonus1">
            <i class='bx bxs-star-half'></i>
            <h3>Bonus 1</h3>
        </a>

        <a href="/bonus2" class="Bonus Bonus1">
            <i class='bx bxs-star-half'></i>
            <h3>Bonus 2</h3>
        </a>

    </div>

    <script src="/JS/Bases.js"></script>
    
</body>
</html>