<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours Bonus2</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/Bases/zBase-Bonus2.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>

    <!-- Les différents boutons -->


    <div class="content-btn">

        <h1>Bonus 2</h1>

        <div class="box-btn">

            <button class="btn btn1">practical 1</button>

            <button class="btn btn2">practical 2</button>

            <button class="btn btn3">practical 3</button>

        </div>

        <p class="close-parent"><a class="Back" href="/Za8GDr2gxod1a0P0rCWAx0EtMv1v16a11a1P1">Back</a></p>

    </div>


    <!-- Les test -->


    <div class="content-practical">


        <!-- Practical 1 -->


        <div class="practical practical1">


            <h3>Are you ready for the sequel ?</h3>


            <div class="content-test">


                <!-- Test 1 -->


                <div class="test test1">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test1.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">January 11th, 2024</p>
                        <p class="p2 vrai">January 1st, 2024</p>
                        <p class="p3 faux">January 21st, 2024</p>
                    </div>

                    <div class="next">
                        <button class="next1">NEXT</button>
                    </div>


                </div>


                <!-- Test 2 -->


                <div class="test test2">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test2.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 vrai">February 14th, 2024</p>
                        <p class="p2 faux">February 4th, 2024</p>
                        <p class="p3 faux">February 24th, 2024</p>
                    </div>

                    <div class="next">
                        <button class="next2">NEXT</button>
                    </div>


                </div>


                <!-- Test 3 -->


                <div class="test test3">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test3.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">March 28th, 2024</p>
                        <p class="p2 faux">March 18th, 2024</p>
                        <p class="p3 vrai">March 8th, 2024</p>
                    </div>

                    <div class="next">
                        <button class="next3">NEXT</button>
                    </div>


                </div>


                <!-- Test 4 -->


                <div class="test test4">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test4.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">April 2nd, 2024</p>
                        <p class="p2 faux">April 12th, 2024</p>
                        <p class="p3 vrai">April 22nd, 2024</p>
                    </div>

                    <div class="next">
                        <button class="next4">NEXT</button>
                    </div>


                </div>


                <!-- Test 5 -->


                <div class="test test5">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test5.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">May 25th, 2024</p>
                        <p class="p2 vrai">May 5th, 2024</p>
                        <p class="p3 faux">May 15th, 2024</p>
                    </div>

                    <div class="next">
                        <button class="next5">NEXT</button>
                    </div>


                </div>


                <!-- Test 6 -->


                <div class="test test6">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test6.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">June 8th, 2024</p>
                        <p class="p2 vrai">June 18th, 2024</p>
                        <p class="p3 faux">June 28th, 2024</p>
                    </div>

                    <div class="next">
                        <button class="next6">NEXT</button>
                    </div>


                </div>


                <!-- Test 7 -->


                <div class="test test7">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test7.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">July 12th, 2024</p>
                        <p class="p2 vrai">July 2nd, 2024</p>
                        <p class="p3 faux">July 22nd, 2024</p>
                    </div>

                    <div class="next">
                        <button class="next7">NEXT</button>
                    </div>


                </div>


                <!-- Test 8 -->


                <div class="test test8">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test8.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">August 21st, 2024</p>
                        <p class="p2 faux">August 1st, 2024</p>
                        <p class="p3 vrai">August 11th, 2024</p>
                    </div>

                    <div class="next">
                        <button class="next8">NEXT</button>
                    </div>


                </div>


                <!-- Test 9 -->


                <div class="test test9">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test9.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">September 3rd, 2024</p>
                        <p class="p2 vrai">September 30th, 2024</p>
                        <p class="p3 faux">September 13th, 2024</p>
                    </div>

                    <div class="next">
                        <button class="next9">NEXT</button>
                    </div>


                </div>


                <!-- Test 10 -->


                <div class="test test10">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test10.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 vrai">October 15th, 2024</p>
                        <p class="p2 faux">October 25th, 2024</p>
                        <p class="p3 faux">October 5th, 2024</p>
                    </div>

                    <div class="next">
                        <button class="next10">NEXT</button>
                    </div>


                </div>


                <!-- Test 11 -->


                <div class="test test11">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test11.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 vrai">July 4th, 1776</p>
                        <p class="p2 faux">July 24th, 1776</p>
                        <p class="p3 faux">July 14th, 1776</p>
                    </div>

                    <div class="next">
                        <button class="next11">NEXT</button>
                    </div>


                </div>


                <!-- Test 12 -->


                <div class="test test12">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test12.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">September 12th, 1666</p>
                        <p class="p2 vrai">September 2nd, 1666</p>
                        <p class="p3 faux">September 22nd, 1666</p>
                    </div>

                    <div class="next">
                        <button class="next12">NEXT</button>
                    </div>


                </div>


                <!-- Test 13 -->


                <div class="test test13">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test13.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">October 24th, 1066</p>
                        <p class="p2 faux">October 4th, 1066</p>
                        <p class="p3 vrai">October 14th, 1066</p>
                    </div>

                    <div class="next">
                        <button class="next13">NEXT</button>
                    </div>


                </div>


                <!-- Test 14 -->


                <div class="test test14">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test14.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">April 25th, 1452</p>
                        <p class="p2 vrai">April 15th, 1452</p>
                        <p class="p3 faux">April 25th, 1452</p>
                    </div>

                    <div class="next">
                        <button class="next14">NEXT</button>
                    </div>


                </div>


                <!-- Test 15 -->


                <div class="test test15">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test15.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">June 9th, 325</p>
                        <p class="p2 vrai">June 19th, 325</p>
                        <p class="p3 faux">June 29th, 325</p>
                    </div>

                    <div class="next">
                        <button class="next15">NEXT</button>
                    </div>


                </div>


                <!-- Test 16 -->


                <div class="test test16">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test16.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">December 5th, 800</p>
                        <p class="p2 vrai">December 25th, 800</p>
                        <p class="p3 faux">December 15th, 800</p>
                    </div>

                    <div class="next">
                        <button class="next16">NEXT</button>
                    </div>


                </div>


                <!-- Test 17 -->


                <div class="test test17">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test17.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">July 2nd, 1969</p>
                        <p class="p2 faux">July 12th, 1969</p>
                        <p class="p3 vrai">July 20th, 1969</p>
                    </div>

                    <div class="next">
                        <button class="next17">NEXT</button>
                    </div>


                </div>


                <!-- Test 18 -->


                <div class="test test18">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test18.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">September 21st, 1939</p>
                        <p class="p2 faux">September 11th, 1939</p>
                        <p class="p3 vrai">September 1st, 1939</p>
                    </div>

                    <div class="next">
                        <button class="next18">NEXT</button>
                    </div>


                </div>


                <!-- Test 19 -->


                <div class="test test19">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test19.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 vrai">December 7th, 1941</p>
                        <p class="p2 faux">December 27th, 1941</p>
                        <p class="p3 faux">December 17th, 1941</p>
                    </div>

                    <div class="next">
                        <button class="next19">NEXT</button>
                    </div>


                </div>


                <!-- Test 20 -->


                <div class="test test20">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical1-test20.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">November 21st, 1918</p>
                        <p class="p2 vrai">November 11th, 1918</p>
                        <p class="p3 faux">November 1st, 1918</p>
                    </div>

                    <div class="next">
                        <button class="next20">NEXT</button>
                    </div>


                </div>

            </div>

        </div>



        <!-- Practical 2 -->


        <div class="practical practical2">


            <h3>Are you ready for the sequel ?</h3>


            <div class="content-test">


                <!-- Test 1 -->


                <div class="test test1">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test1.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">01:30</p>
                        <p class="p2 vrai">02:30</p>
                        <p class="p3 faux">23:05</p>
                    </div>

                    <div class="next">
                        <button class="next1">NEXT</button>
                    </div>


                </div>


                <!-- Test 2 -->


                <div class="test test2">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test2.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 vrai">05:45</p>
                        <p class="p2 faux">20:50</p>
                        <p class="p3 faux">18:35</p>
                    </div>

                    <div class="next">
                        <button class="next2">NEXT</button>
                    </div>


                </div>


                <!-- Test 3 -->


                <div class="test test3">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test3.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">16:10</p>
                        <p class="p2 faux">16:13</p>
                        <p class="p3 vrai">08:10</p>
                    </div>

                    <div class="next">
                        <button class="next3">NEXT</button>
                    </div>


                </div>


                <!-- Test 4 -->


                <div class="test test4">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test4.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">11:30</p>
                        <p class="p2 faux">09:15</p>
                        <p class="p3 vrai">10:25</p>
                    </div>

                    <div class="next">
                        <button class="next4">NEXT</button>
                    </div>


                </div>


                <!-- Test 5 -->


                <div class="test test5">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test5.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">2:30</p>
                        <p class="p2 vrai">13:15</p>
                        <p class="p3 faux">5:45</p>
                    </div>

                    <div class="next">
                        <button class="next5">NEXT</button>
                    </div>


                </div>


                <!-- Test 6 -->


                <div class="test test6">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test6.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">8:10</p>
                        <p class="p2 vrai">15:40</p>
                        <p class="p3 faux">10:25</p>
                    </div>

                    <div class="next">
                        <button class="next6">NEXT</button>
                    </div>


                </div>


                <!-- Test 7 -->


                <div class="test test7">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test7.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">1:15</p>
                        <p class="p2 vrai">18:55</p>
                        <p class="p3 faux">3:40</p>
                    </div>

                    <div class="next">
                        <button class="next7">NEXT</button>
                    </div>


                </div>


                <!-- Test 8 -->


                <div class="test test8">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test8.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">6:55</p>
                        <p class="p2 faux">9:20</p>
                        <p class="p3 vrai">21:20</p>
                    </div>

                    <div class="next">
                        <button class="next8">NEXT</button>
                    </div>


                </div>


                <!-- Test 9 -->


                <div class="test test9">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test9.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">11:35</p>
                        <p class="p2 vrai">23:35</p>
                        <p class="p3 faux">1:50</p>
                    </div>

                    <div class="next">
                        <button class="next9">NEXT</button>
                    </div>


                </div>


                <!-- Test 10 -->


                <div class="test test10">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test10.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 vrai">01:50</p>
                        <p class="p2 faux">4:05</p>
                        <p class="p3 faux">6:30</p>
                    </div>

                    <div class="next">
                        <button class="next10">NEXT</button>
                    </div>


                </div>


                <!-- Test 11 -->


                <div class="test test11">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test11.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 vrai">04:05</p>
                        <p class="p2 faux">9:45</p>
                        <p class="p3 faux">12:00</p>
                    </div>

                    <div class="next">
                        <button class="next11">NEXT</button>
                    </div>


                </div>


                <!-- Test 12 -->


                <div class="test test12">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test12.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">2:25</p>
                        <p class="p2 vrai">06:30</p>
                        <p class="p3 faux">4:50</p>
                    </div>

                    <div class="next">
                        <button class="next12">NEXT</button>
                    </div>


                </div>


                <!-- Test 13 -->


                <div class="test test13">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test13.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">7:15</p>
                        <p class="p2 faux">9:40</p>
                        <p class="p3 vrai">12:05</p>
                    </div>

                    <div class="next">
                        <button class="next13">NEXT</button>
                    </div>


                </div>


                <!-- Test 14 -->


                <div class="test test14">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test14.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">11:23</p>
                        <p class="p2 vrai">12:00</p>
                        <p class="p3 faux">23:33</p>
                    </div>

                    <div class="next">
                        <button class="next14">NEXT</button>
                    </div>


                </div>


                <!-- Test 15 -->


                <div class="test test15">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test15.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">14:22</p>
                        <p class="p2 vrai">14:25</p>
                        <p class="p3 faux">17:23</p>
                    </div>

                    <div class="next">
                        <button class="next15">NEXT</button>
                    </div>


                </div>


                <!-- Test 16 -->


                <div class="test test16">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test16.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">23:44</p>
                        <p class="p2 vrai">16:50</p>
                        <p class="p3 faux">16:22</p>
                    </div>

                    <div class="next">
                        <button class="next16">NEXT</button>
                    </div>


                </div>


                <!-- Test 17 -->


                <div class="test test17">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test17.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">21:20</p>
                        <p class="p2 faux">19:10</p>
                        <p class="p3 vrai">19:15</p>
                    </div>

                    <div class="next">
                        <button class="next17">NEXT</button>
                    </div>


                </div>


                <!-- Test 18 -->


                <div class="test test18">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test18.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">23:12</p>
                        <p class="p2 faux">21:23</p>
                        <p class="p3 vrai">21:40</p>
                    </div>

                    <div class="next">
                        <button class="next18">NEXT</button>
                    </div>


                </div>


                <!-- Test 19 -->


                <div class="test test19">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test19.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 vrai">00:05</p>
                        <p class="p2 faux">00:23</p>
                        <p class="p3 faux">14:25</p>
                    </div>

                    <div class="next">
                        <button class="next19">NEXT</button>
                    </div>


                </div>


                <!-- Test 20 -->


                <div class="test test20">


                    <div class="reference">
                        <i class='bx bxs-user-voice'></i>
                        <audio controls src="/audio/zBases-Bonus2-pratical2-test20.mp3"></audio>
                    </div>

                    <div class="choose">
                        <p class="p1 faux">06:07</p>
                        <p class="p2 vrai">02:20</p>
                        <p class="p3 faux">14:29</p>
                    </div>

                    <div class="next">
                        <button class="next20">NEXT</button>
                    </div>


                </div>

            </div>

        </div>

    </div>


    <script src="/JS/Bases/zBase-Bonus2.js"></script>
</body>
</html>