<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours Day3</title>
    <link rel="stylesheet" href="/css/Bases/zBase3.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>


    <!-- Contenue Cours -->


    <div class="content-cours">

        <h1>Sons des <span>Consonnes</span></h1>

        <div class="Cours-Voyelles">
            <video controls src="/video/Bases/Les-Consonnes.mp4" controlsList="nodownload"></video>
        </div>


        <div class="diva1">
            <button class="go-exercice">Go exercice</button>
        </div>

    </div>


    <!-- Contenue Go Exercice -->


    <div class="content-go-exercice">

        <h1>Go exercice</h1>

        <p>Have you mastered all the consonant sounds?</p>

        <div class="block">

            <div class="box"><span>p</span></div>

            <div class="box"><span>b</span></div>

            <div class="box"><span>t</span></div>

            <div class="box"><span>d</span></div>

            <div class="box"><span>tʃ</span></div>

            <div class="box"><span>dʒ</span></div>

            <div class="box"><span>k</span></div>

            <div class="box"><span>g</span></div>

            <div class="box"><span>f</span></div>

            <div class="box"><span>v</span></div>

            <div class="box"><span>θ</span></div>

            <div class="box"><span>ð</span></div>

            <div class="box"><span>s</span></div>

            <div class="box"><span>z</span></div>

            <div class="box"><span>ʃ</span></div>

            <div class="box"><span>ʒ</span></div>

            <div class="box"><span>m</span></div>

            <div class="box"><span>n</span></div>

            <div class="box"><span>ŋ</span></div>

            <div class="box"><span>h</span></div>

            <div class="box"><span>l</span></div>

            <div class="box"><span>j</span></div>

            <div class="box"><span>r</span></div>

            <div class="box"><span>w</span></div>

        </div>


        <div class="choix">

            <!-- Creation du Boution Replay -->

            <button class="replay opp">Replay</button>

            <!-- Creation du Bouton Finish -->

            <a href="/Za8GDr2gxod1a0P0rCWAx0EtMv1v16a11a1P1" class="close-day opp">Close Day</a>

        </div>

    </div>


    <script src="/JS/Bases/zBase3.js"></script>
</body>
</html>