<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours Day5</title>
    <link rel="stylesheet" href="/css/Bases/zBase5.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>


    <!-- Contenue Cours -->


    <div class="content-cours">

        <h1><span>L'Accent Tonique</span> en Anglais</h1>

        <div class="Cours-Voyelles">
            <video controls src="/video/Bases/Accent-Tonique.mp4" controlsList="nodownload"></video>
        </div>


        <div class="diva1">
            <button class="go-exercice">Go exercice</button>
        </div>

    </div>


    <!-- Contenue Go Exercice -->


    <div class="content-go-exercice">

        <h1>Go exercice</h1>

        <p>You will read this text in English applying everything you have learned</p>

        <div class="text">
            <p>
                In a world where ambition and education converge, a visual comedian becomes a pioneer 
                of his own artistic strategy. His commercial electric equipment creates a captivating 
                visual surprise, combining technology and passion for art. As a musician, his decision 
                to explore new musical horizons pushes him to creative expansion. His meticulous organization 
                reveals the reality of his talent, clarifying the path to success. In this academy of innovation,
                each technician becomes an essential link in the chain, juggling between economic demands and the
                imperatives of creativity. The politics of the artistic scene becomes a dangerous but necessary
                terrain to shape the future. The geography of his artistic journey is redrawn, revealing the 
                contours of a promising career. His hard work and popular vision propel him to fame, making him a 
                famous and respected artist. The nutrition of his artistic soul feeds his boundless ambition, 
                guiding him to unexplored heights.
            </p>

            <div class="touch">

                <button class="touch-bar play">play</button>
    
                <button class="touch-bar stop">stop</button>   
    
            </div>

            <audio src="/audio/Day5-texte.mp3"></audio>

        </div>


        <div class="choix">

            <!-- Creation du Boution Replay -->

            <button class="replay opp">Replay</button>

            <!-- Creation du Bouton Finish -->

            <a href="/Za8GDr2gxod1a0P0rCWAx0EtMv1v16a11a1P1" class="close-day opp">Close Day</a>

        </div>

    </div>


    <script src="/JS/Bases/zBase5.js"></script>
</body>
</html>