<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours Day1</title>
    <link rel="stylesheet" href="/css/Bases/zBase1.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>


    <!-- Contenue Cours -->


    <div class="content-cours">

        <h1><span>L'alphabet </span>en anglais</h1>


        <div class="Course-Aphabet">
            <video controls src="/video/Bases/Cours-Alphabet.mp4" controlsList="nodownload"></video>
        </div>


        <div class="box-more">
            <button class="more">See More</button>
        </div>


        <div class="Content-More">


            <div class="block">
    
                <div class="box blanche">
                    <p><span class="letter">A</span> : <span class="prononciate chic">eï</span></p>
                </div>
        
                <div class="box black">
                    <p><span class="letter">B</span> : <span class="prononciate">bi</span></p>
                </div>
        
                <div class="box blanche">
                    <p><span class="letter">C</span> : <span class="prononciate chic">si</span></p>
                </div>
        
                <div class="box black">
                    <p><span class="letter">D</span> : <span class="prononciate">di</span></p>
                </div>
        
                <div class="box blanche">
                    <p><span class="letter">E</span> : <span class="prononciate chic">i</span></p>
                </div>
        
                <div class="box black">
                    <p><span class="letter">F</span> : <span class="prononciate">èf</span></p>
                </div>
        
                <div class="box blanche">
                    <p><span class="letter">G</span> : <span class="prononciate chic">dji</span></p>
                </div>
        
                <div class="box black">
                    <p><span class="letter">H</span> : <span class="prononciate">etch</span></p>
                </div>
        
                <div class="box blanche">
                    <p><span class="letter">I</span> : <span class="prononciate chic">aï</span></p>
                </div>
        
                <div class="box black">
                    <p><span class="letter">J</span> : <span class="prononciate">djeï</span></p>
                </div>
        
                <div class="box blanche">
                    <p><span class="letter">K</span> : <span class="prononciate chic">keï</span></p>
                </div>
        
                <div class="box black">
                    <p><span class="letter">L</span> : <span class="prononciate">èl</span></p>
                </div>
        
                <div class="box blanche">
                    <p><span class="letter">M</span> : <span class="prononciate chic">èm</span></p>
                </div>
        
                <div class="box black">
                    <p><span class="letter">N</span> : <span class="prononciate">èn</span></p>
                </div>
        
                <div class="box blanche">
                    <p><span class="letter">O</span> : <span class="prononciate chic">o</span></p>
                </div>
        
                <div class="box black">
                    <p><span class="letter">P</span> : <span class="prononciate">pi</span></p>
                </div>
        
                <div class="box blanche">
                    <p><span class="letter">Q</span> : <span class="prononciate chic">kiou</span></p>
                </div>
        
                <div class="box black">
                    <p><span class="letter">R</span> : <span class="prononciate">ar</span></p>
                </div>
        
                <div class="box blanche">
                    <p><span class="letter">S</span> : <span class="prononciate chic">ès</span></p>
                </div>
        
                <div class="box black">
                    <p><span class="letter">T</span> : <span class="prononciate">ti</span></p>
                </div>
        
                <div class="box blanche">
                    <p><span class="letter">U</span> : <span class="prononciate chic">iou</span></p>
                </div>
        
                <div class="box black">
                    <p><span class="letter">V</span> : <span class="prononciate">vi</span></p>
                </div>
        
                <div class="box blanche">
                    <p><span class="letter">W</span> : <span class="prononciate chic">dobel iou</span></p>
                </div>
        
                <div class="box black">
                    <p><span class="letter">X</span> : <span class="prononciate">eks</span></p>
                </div>
        
                <div class="box blanche">
                    <p><span class="letter">Y</span> : <span class="prononciate chic">waï</span></p>
                </div>
        
                <div class="box black">
                    <p><span class="letter">Z</span> : <span class="prononciate">zi</span></p>
                </div>
    
            </div>
    
        </div>


        <!-- Button GO Exercice -->


        <div class="diva1">
            <button class="go-exercice">Go exercice</button>
        </div>

    </div>


    <!-- Contenue Go Exercice -->


    <div class="content-go-exercice">

        <h1>Go exercice</h1>

        <p>spell the words first...</p>

        <div class="exo-Aphabet">
            <video controls src="/video/Bases/Test-Alphabet.mp4"></video>
        </div>


        <div class="choix">

            <!-- Creation du Boution Replay -->

            <button class="replay opp">Replay</button>

            <!-- Creation du Bouton Finish -->

            <a href="/Za8GDr2gxod1a0P0rCWAx0EtMv1v16a11a1P1" class="close-day opp">Close Day</a>

        </div>

    </div>


    <script src="/JS/Bases/zBase1.js"></script>
</body>
</html>