<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours Day6</title>
    <link rel="stylesheet" href="/css/Bases/zBase6.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>


    <!-- Contenue Cours -->


    <div class="content-cours">

        <h1><span>EXO DAY</span></h1>

        <div class="Cours-Voyelles">
            <video controls src="/video/Bases/Speak01.mp4" controlsList="nodownload"></video>
        </div>


        <div class="diva1">
            <button class="go-exercice">Go exercice</button>
        </div>

    </div>


    <!-- Contenue Go Exercice -->


    <div class="content-go-exercice">

        <h1>Go exercice</h1>

        <p>Read his different sentences</p>

        <div class="text">
            <p class="phrase phrase1">
                <span>01</span>
                / ðə sʌn ɪz ˈʃaɪnɪŋ ˈbraɪtli təˈdeɪ / 
            </p>

            <p class="phrase phrase2">
                <span>02</span>
                / ʃi dænst ˈɡreɪsfəli æt ðə ˈpɑːrti /
            </p>

            <p class="phrase phrase3">
                <span>03</span>
                / ðə kæt ˈleɪzəli slept ɒn ðə ˈwɪndəʊsɪl /
            </p>

            <p class="phrase phrase4">
                <span>04</span>
                / aɪ ɪnˈdʒɔɪ ˈriːdɪŋ ˈmɪstəri ˈnɒvəlz / 
            </p>

            <p class="phrase phrase5">
                <span>05</span>
                / ðə ˈflaʊəz ˈbluːmd ˈbjuːtɪfəli ɪn ðə ˈɡɑːrdn /
            </p>

            <p class="phrase phrase6">
                <span>06</span>
                / hi pleɪz ðə ɡɪˈtɑːr ˈskɪlfəli /
            </p>

            <p class="phrase phrase7">
                <span>07</span>
                / ðə reɪn ˈpɪtər-ˈpætəd ɒn ðə ruːf / 
            </p>

            <p class="phrase phrase8">
                <span>08</span>
                / ðeɪ lɑːft ˈdʒɔɪfəli æt ðə dʒəʊk /
            </p>

            <p class="phrase phrase9">
                <span>09</span>
                / ðə ˈbeɪbi slept ˈpiːsfəli ɪn hɜː krɪb /
            </p>

            <p class="phrase phrase10">
                <span>10</span>
                / ðə bɜːdz tʃɜːpt ˈhæpɪli ɪn ðə triːz /
            </p>

            <p class="phrase phrase11">
                <span>11</span>
                / aɪ lʌv ˈwɔːkɪŋ ɪn ðə pɑːk ˈdjʊərɪŋ ˈɔːtəm /
            </p>

            <p class="phrase phrase12">
                <span>12</span>
                / ðə weɪvz kræʃt ˈlaʊdli əˈɡenst ðə ʃɔːr /
            </p>

            <p class="phrase phrase13">
                <span>13</span>
                / ʃi sæŋ məˈləʊdiəsli ɪn ðə kwaɪər / 
            </p>

            <p class="phrase phrase14">
                <span>14</span>
                / ðə ˈtʃɪldrən pleɪd ˈhæpɪli ɪn ðə pɑːk /
            </p>

            <p class="phrase phrase15">
                <span>15</span>
                / ðə wɪnd ˈwɪspəd ˈsɒftli θruː ðə triːz /
            </p>

            <p class="phrase phrase16">
                <span>16</span>
                / ðə ˈkɒfi smeld dɪˈlɪʃəsli ɪn ðə
            </p>

            <p class="phrase phrase17">
                <span>17</span>
                /ðə treɪn ˈrʌmbəld ˈnɔɪzɪli daʊn ðə træks/
            </p>

            <p class="phrase phrase18">
                <span>18</span>
                /ðə klɒk tɪkt ˈstedəli ɒn ðə wɔːl/
            </p>

            <p class="phrase phrase19">
                <span>19</span>
                /ðə faɪər ˈkrækəld ˈwɔːmli ɪn ðə ˈfaɪərˌpleɪs/
            </p>

            <p class="phrase phrase20">
                <span>20</span>
                /ðə stɑːz ˈtwɪŋkəld ˈbraɪtli ɪn ðə naɪt skaɪ/ 
            </p>

        </div>


        <div class="choix">

            <!-- Creation du Boution Replay -->

            <button class="replay opp">Replay</button>

            <!-- Creation du Bouton Finish -->

            <a href="/Za8GDr2gxod1a0P0rCWAx0EtMv1v16a11a1P1" class="close-day opp">Close Day</a>

        </div>

    </div>


    <script src="/JS/Bases/zBase6.js"></script>
</body>
</html>