<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours Day9</title>
    <link rel="stylesheet" href="/css/Bases/zBase9.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>


    <!-- Contenue Cours -->


    <div class="content-cours">

        <h1><span>Les Dates</span> en Anglais</h1>

        <div class="Cours-Voyelles">
            <video controls src="/video/Bases/Les-Dates.mp4" controlsList="nodownload"></video>
        </div>


        <div class="diva1">
            <button class="go-exercice">Go exercice</button>
        </div>

    </div>


    <!-- Contenue Go Exercice -->


    <div class="content-go-exercice">

        <h1>Go exercice</h1>

        <p>Do you master all the vowel sounds?</p>

        <div class="block">

            <div class="box"><span>January 15, 2025</span></div>

            <div class="box"><span>March 7, 2024</span></div>

            <div class="box"><span>September 22, 2023</span></div>

            <div class="box"><span>November 11, 2022</span></div>

            <div class="box"><span>May 3, 2021</span></div>

            <div class="box"><span>August 9, 2020</span></div>

            <div class="box"><span>December 25, 2019</span></div>

            <div class="box"><span>June 18, 2018</span></div>

            <div class="box"><span>April 30, 2017</span></div>

            <div class="box"><span>October 12, 2016</span></div>

            <div class="box"><span>February 28, 2015</span></div>

            <div class="box"><span>July 4, 2014</span></div>

            <div class="box"><span>October 19, 2013</span></div>

            <div class="box"><span>March 8, 2012</span></div>

            <div class="box"><span>September 1, 2011</span></div>

            <div class="box"><span>November 30, 2010</span></div>

            <div class="box"><span>April 16, 2009</span></div>

            <div class="box"><span>August 21, 2008</span></div>

            <div class="box"><span>January 5, 2007</span></div>

            <div class="box"><span>June 10, 2006</span></div>

        </div>


        <div class="choix">

            <!-- Creation du Boution Replay -->

            <button class="replay opp">Replay</button>

            <!-- Creation du Bouton Finish -->

            <a href="/Za8GDr2gxod1a0P0rCWAx0EtMv1v16a11a1P1" class="close-day opp">Close Day</a>

        </div>

    </div>


    <script src="/JS/Bases/zBase9.js"></script>
</body>
</html>