<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours Day10</title>
    <link rel="stylesheet" href="/css/Bases/zBase10.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>


    <!-- Contenue Cours -->


    <div class="content-cours">

        <h1><span>L'heure</span> en Anglais</h1>

        <div class="Cours-Voyelles">
            <video controls src="/video/Bases/Time.mp4" controlsList="nodownload"></video>
        </div>


        <div class="diva1">
            <button class="go-exercice">Go exercice</button>
        </div>

    </div>


    <!-- Contenue Go Exercice -->


    <div class="content-go-exercice">

        <h1>Go exercice</h1>

        <p>What time is it ?</p>

        <div class="block">

            <div class="box"><span>07:42</span></div>

            <div class="box"><span>15:19</span></div>

            <div class="box"><span>16:00</span></div>

            <div class="box"><span>23:56</span></div>

            <div class="box"><span>10:33</span></div>

            <div class="box"><span>18:27</span></div>

            <div class="box"><span>04:56</span></div>

            <div class="box"><span>12:08</span></div>

            <div class="box"><span>21:16</span></div>

            <div class="box"><span>09:45</span></div>

            <div class="box"><span>16:29</span></div>

            <div class="box"><span>03:53</span></div>

            <div class="box"><span>11:21</span></div>

            <div class="box"><span>20:39</span></div>

            <div class="box"><span>08:24</span></div>

            <div class="box"><span>17:60</span></div>

            <div class="box"><span>02:05</span></div>

            <div class="box"><span>14:70</span></div>

            <div class="box"><span>22:29</span></div>

            <div class="box"><span>06:53</span></div>

            <div class="box"><span>13:21</span></div>

        </div>


        <div class="choix">

            <!-- Creation du Boution Replay -->

            <button class="replay opp">Replay</button>

            <!-- Creation du Bouton Finish -->

            <a href="/Za8GDr2gxod1a0P0rCWAx0EtMv1v16a11a1P1" class="close-day opp">Close Day</a>

        </div>

    </div>


    <script src="/JS/Bases/zBase10.js"></script>
</body>
</html>