<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours Day2</title>
    <link rel="stylesheet" href="/css/Bases/zBase2.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>


    <!-- Contenue Cours -->


    <div class="content-cours">

        <h1>Sons des <span>Voyelles</span></h1>

        <div class="Cours-Voyelles">
            <video controls src="/video/Bases/Les-voyelles.mp4" controlsList="nodownload"></video>
        </div>


        <div class="diva1">
            <button class="go-exercice">Go exercice</button>
        </div>

    </div>


    <!-- Contenue Go Exercice -->


    <div class="content-go-exercice">

        <h1>Go exercice</h1>

        <p>Do you master all the vowel sounds?</p>

        <div class="block">

            <div class="box"><span>i</span></div>

            <div class="box"><span>ʊ</span></div>

            <div class="box"><span>e</span></div>

            <div class="box"><span>ə</span></div>

            <div class="box"><span>æ</span></div>

            <div class="box"><span>ʌ</span></div>

            <div class="box"><span>ɒ</span></div>

            <div class="box"><span>i:</span></div>

            <div class="box"><span>u:</span></div>

            <div class="box"><span>ɜ:</span></div>

            <div class="box"><span>ɔ:</span></div>

            <div class="box"><span>a:</span></div>

            <div class="box"><span>ə</span></div>

            <div class="box"><span>ei</span></div>

            <div class="box"><span>ʊə</span></div>

            <div class="box"><span>ɔi</span></div>

            <div class="box"><span>əʊ</span></div>

            <div class="box"><span>eə</span></div>

            <div class="box"><span>ai</span></div>

            <div class="box"><span>aʊ</span></div>
        </div>


        <div class="choix">

            <!-- Creation du Boution Replay -->

            <button class="replay opp">Replay</button>

            <!-- Creation du Bouton Finish -->

            <a href="/Za8GDr2gxod1a0P0rCWAx0EtMv1v16a11a1P1" class="close-day opp">Close Day</a>

        </div>

    </div>


    <script src="/JS/Bases/zBase2.js"></script>
</body>
</html>