<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours Day8</title>
    <link rel="stylesheet" href="/css/Bases/zBase8.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>


    <!-- Contenue Cours -->


    <div class="content-cours">

        <h1><span>Les nombres</span> en Anglais</h1>

        <div class="Cours-Voyelles">
            <video controls src="/video/Bases/Les-nombres.mp4" controlsList="nodownload"></video>
        </div>


        <div class="diva1">
            <button class="go-exercice">Go exercice</button>
        </div>

    </div>


    <!-- Contenue Go Exercice -->


    <div class="content-go-exercice">

        <h1>Go exercice</h1>


        <!-- Exercice Les Nombres Cardinaux -->

        <p>Practice mastering cardinal numbers</p>

        <div class="block">

            <div class="box"><span>56</span></div>

            <div class="box"><span>23</span></div>

            <div class="box"><span>89</span></div>

            <div class="box"><span>42</span></div>   
            
            <div class="box"><span>17</span></div>

            <div class="box"><span>5</span></div>

            <div class="box"><span>73</span></div>

            <div class="box"><span>11</span></div>

            <div class="box"><span>64</span></div>

            <div class="box"><span>29</span></div>

            <div class="box"><span>88</span></div>

            <div class="box"><span>37</span></div>

            <div class="box"><span>6</span></div>

            <div class="box"><span>91</span></div>

            <div class="box"><span>50</span></div>

            <div class="box"><span>14</span></div>

            <div class="box"><span>77</span></div>

            <div class="box"><span>33</span></div>

            <div class="box"><span>68</span></div>

            <div class="box"><span>19</span></div>

            <div class="box"><span>83</span></div>

            <div class="box"><span>27</span></div>

            <div class="box"><span>72</span></div>

            <div class="box"><span>9</span></div>

            <div class="box"><span>61</span></div>

            <div class="box"><span>35</span></div>

            <div class="box"><span>85</span></div>

            <div class="box"><span>21</span></div>

            <div class="box"><span>70</span></div>

            <div class="box"><span>3</span></div>

        </div>


        <!-- Exercice Les Nombres Ordinaux -->

        <p>Practice mastering ordinal numbers</p>

        <div class="block">

            <div class="box2"><span>45th</span></div>

            <div class="box2"><span>12nd</span></div>

            <div class="box2"><span>78th</span></div>

            <div class="box2"><span>42nd</span></div>   
            
            <div class="box2"><span>33rd</span></div>

            <div class="box2"><span>19th</span></div>

            <div class="box2"><span>64th</span></div>

            <div class="box2"><span>27th</span></div>

            <div class="box2"><span>56th</span></div>

            <div class="box2"><span>8th</span></div>

            <div class="box2"><span>91st</span></div>

            <div class="box2"><span>16th</span></div>

            <div class="box2"><span>16th</span></div>

            <div class="box2"><span>91st</span></div>

            <div class="box2"><span>16th</span></div>

            <div class="box2"><span>72nd</span></div>

            <div class="box2"><span>39th</span></div>

            <div class="box2"><span>84th</span></div>

            <div class="box2"><span>21st</span></div>

            <div class="box2"><span>5th</span></div>

            <div class="box2"><span>70th</span></div>

            <div class="box2"><span>29th</span></div>

            <div class="box2"><span>53rd</span></div>

        </div>


        <div class="choix">

            <!-- Creation du Boution Replay -->

            <button class="replay opp">Replay</button>

            <!-- Creation du Bouton Finish -->

            <a href="/Za8GDr2gxod1a0P0rCWAx0EtMv1v16a11a1P1" class="close-day opp">Close Day</a>

        </div>

    </div>




    <script src="/JS/Bases/zBase8.js"></script>
</body>
</html>