<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours Day4</title>
    <link rel="stylesheet" href="/css/Bases/zBase4.css">
    <link rel="shortcut icon" href="/img/logo-top/fav.png" type="image/x-icon">
</head>
<body>


    <!-- Notice -->


    <div class="notice">

        <h2>Warning !</h2>

        <p class="plan">You can test your level yourself with these three series of exercises</p>

        <button class="letsgo btn1">Exercice 1</button>

        <button class="letsgo btn2">Exercice 2</button>

        <button class="letsgo btn3">Exercice 3</button>

        <p class="close-parent"><a class="close" href="/Za8GDr2gxod1a0P0rCWAx0EtMv1v16a11a1P1">Close</a></p>

    </div>


    <!-- Contenue Exercice 1 -->


    <div class="content-exercice1">

        <div class="listen">
            <p>Practice repeating the different sounds of the English alphabet</p>
        </div>

        <div class="block">
    
            <div class="box blanche">
                <span class="letter">A</span>
            </div>
    
            <div class="box black">
                <span class="letter">B</span>
            </div>
    
            <div class="box blanche">
                <span class="letter">C</span> 
            </div>
    
            <div class="box black">
                <span class="letter">D</span>
            </div>
    
            <div class="box blanche">
                <span class="letter">E</span>
            </div>
    
            <div class="box black">
                <span class="letter">F</span>
            </div>
    
            <div class="box blanche">
                <span class="letter">G</span>
            </div>
    
            <div class="box black">
                <span class="letter">H</span>
            </div>
    
            <div class="box blanche">
                <span class="letter">I</span>
            </div>
    
            <div class="box black">
                <span class="letter">J</span>
            </div>
    
            <div class="box blanche">
                <span class="letter">K</span>
            </div>
    
            <div class="box black">
                <span class="letter">L</span>
            </div>
    
            <div class="box blanche">
                <span class="letter">M</span>
            </div>
    
            <div class="box black">
                <span class="letter">N</span>
            </div>
    
            <div class="box blanche">
                <span class="letter">O</span>
            </div>
    
            <div class="box black">
                <span class="letter">P</span>
            </div>
    
            <div class="box blanche">
                <span class="letter">Q</span>
            </div>
    
            <div class="box black">
                <span class="letter">R</span>
            </div>
    
            <div class="box blanche">
                <span class="letter">S</span>
            </div>
    
            <div class="box black">
                <span class="letter">T</span>
            </div>
    
            <div class="box blanche">
                <span class="letter">U</span>
            </div>
    
            <div class="box black">
                <span class="letter">V</span>
            </div>
    
            <div class="box blanche">
                <span class="letter">W</span>
            </div>
    
            <div class="box black">
                <span class="letter">X</span> 
            </div>
    
            <div class="box blanche">
                <span class="letter">Y</span>
            </div>
    
            <div class="box black">
                <span class="letter">Z</span>
            </div>

        </div>


        <!-- Button Flexible pour l'utilisateur -->


        <div class="choix">

            <a class="back1 opp" href="/day4">Back</a>

        </div>

    </div>




    <!-- Contenue Exercice 2 -->

    
    <div class="content-exercice2">


        <div class="listen">
            <p>Practice repeating the different phonetic sounds until you achieve excellence</p>
        </div>


        <div class="block">

            <div class="box"><span>i</span></div>

            <div class="box"><span>ʊ</span></div>

            <div class="box"><span>e</span></div>

            <div class="box"><span>ə</span></div>

            <div class="box"><span>æ</span></div>

            <div class="box"><span>ʌ</span></div>

            <div class="box"><span>ɒ</span></div>

            <div class="box"><span>i:</span></div>

            <div class="box"><span>u:</span></div>

            <div class="box"><span>ɜ:</span></div>

            <div class="box"><span>ɔ:</span></div>

            <div class="box"><span>a:</span></div>

            <div class="box"><span>ə</span></div>

            <div class="box"><span>ei</span></div>

            <div class="box"><span>ʊə</span></div>

            <div class="box"><span>ɔi</span></div>

            <div class="box"><span>əʊ</span></div>

            <div class="box"><span>eə</span></div>

            <div class="box"><span>ai</span></div>

            <div class="box"><span>aʊ</span></div>
        </div>


        <!-- Button Flexible pour l'utilisateur -->


        <div class="choix">

            <a class="back2 opp" href="/day4">Back</a>

        </div>

    </div>




    <!-- Contenue de Exercice 3 -->


    <div class="content-exercice3">


        <div class="listen">
            <p>Practice repeating the different phonetic sounds until you achieve excellence</p>
        </div>


        <div class="block">

            <div class="box"><span>p</span></div>

            <div class="box"><span>b</span></div>

            <div class="box"><span>t</span></div>

            <div class="box"><span>d</span></div>

            <div class="box"><span>tʃ</span></div>

            <div class="box"><span>dʒ</span></div>

            <div class="box"><span>k</span></div>

            <div class="box"><span>g</span></div>

            <div class="box"><span>f</span></div>

            <div class="box"><span>v</span></div>

            <div class="box"><span>θ</span></div>

            <div class="box"><span>ð</span></div>

            <div class="box"><span>s</span></div>

            <div class="box"><span>z</span></div>

            <div class="box"><span>ʃ</span></div>

            <div class="box"><span>ʒ</span></div>

            <div class="box"><span>m</span></div>

            <div class="box"><span>n</span></div>

            <div class="box"><span>ŋ</span></div>

            <div class="box"><span>h</span></div>

            <div class="box"><span>l</span></div>

            <div class="box"><span>j</span></div>

            <div class="box"><span>r</span></div>

            <div class="box"><span>w</span></div>

        </div>


        <!-- Button Flexible pour l'utilisateur -->


        <div class="choix">

            <a class="back3 opp" href="/day4">Back</a>

        </div>

    </div>
    

    <script src="/JS/Bases/zBase4.js"></script>
</body>
</html>